#p5Sketch{
  position: fixed; /* or relative or whatever you decide */
  /* width: you define it!; */
  /* height: you define it!; */
  /* i usually do full screen */
}


h1{
  color: #3333ff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}